---
titie: About Page
layout: base.njk
---

<div class="container">
  <h1>This is About Page for you</h1>
  <div>This page is made by HTML, CSS, Vanilla.js<div>
</div>

{% for item in news %}
  <a href="/{{ item.country }}">{{ item.country }}</a>
{% endfor %}